<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cv</title>
</head>

<style>
    *{
        margin: 0%;
        padding: 0%;
    }
    .cv{
        width: 3508px;
        height: 2480px;
        background-color: white;
    }

    .inf_side{
        width: 500px;
        height: 2480px;
        background-color: teal;
    }

</style>

<body>
    <div class="cv">
        <div class="inf_side"></div>
    </div>
</body>
</html>