<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{n}}</h1>
<h1>{{s}}</h1>
<h1>{{em}}</h1>
<h1>{{tel}}</h1>
<h1>{{occ}}</h1>
<h1>{{about}}</h1>
<h1>{{work_t}}</h1>
<h1>{{emplo}}</h1>
<h1>{{start}}</h1>
<h1>{{end}}</h1>
<h1>{{work_t1}}</h1>
<h1>{{emplo1}}</h1>
<h1>{{start1}}</h1>
<h1>{{end1}}</h1>
<h1>{{edu1}}</h1>
<h1>{{spec1}}</h1>
<h1>{{edu_end_date1}}</h1>
<h1>{{edu2}}</h1>
<h1>{{spec2}}</h1>
<h1>{{edu_start_date2}}</h1>

</body>
</html>